<respondent-dashboard>
    <div class="content">
        <div class="container">
            <div class="card-container">
                <!-- <form ></form> -->
                <form [formGroup]="surveyFillForm">
                    <!-- <div formArrayName="responses"> -->
                    <!-- {{sortedArray | json}} -->

                    <!-- {{log(sortedArray)}} -->
                    <!-- {{log(responses1().controls)}} -->

                    <mat-card class="card bg-light" *ngFor="let section of sortedArray;let s=index">
                        <div class="response-array" formArrayName="responses">
                            <div class="survey-container" *ngFor="let response of responses1().controls; let r=index">
                                <!-- {{log(response)}} -->

                                <div class="sameLevelIndex" *ngIf="r===s">

                                    <!-- <div [formGroupName]="r"> -->

                                    <div class="section-display-container">
                                        <!-- ///////////////////////////////////////////////***********//////////////////////////////////////// -->
                                        <!-- {{section| json}} -->
                                        <mat-card-title>{{section.title}}</mat-card-title>
                                        <mat-card-subtitle>{{section?.description}}</mat-card-subtitle>
                                        <mat-card-content>
                                            <div class="container">

                                                <!-- {{addResponses("Multiple choice")}} -->
                                                <!-- {{log(section)}} -->

                                                <!-- <div formArrayName="responses"> -->
                                                <mat-card class="card"
                                                    *ngFor="let question of section.questionnaires;let i=index">
                                                    <div [formGroupName]="i">


                                                    <div class="sections">
                                                        <div class="multiple-choice-form"
                                                            *ngIf="question.questionnaire_type.type_name==='Multiple choice'">
                                                            <!-- {{addResponses('Multiple choice')}} -->
                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-radio-group
                                                                    aria-labelledby="example-radio-group-label"
                                                                    class="example-radio-group" color="primary">
                                                                    <mat-radio-button class="example-radio-button"
                                                                        *ngFor="let  choice of question?.choices"
                                                                        [value]="choice">
                                                                        {{choice.name}}
                                                                    </mat-radio-button>
                                                                </mat-radio-group>


                                                            </mat-card-content>
                                                            <mat-card-actions>
                                                                <!-- <button mat-button>LIKE</button>
                                          <button mat-button>SHARE</button> -->
                                                            </mat-card-actions>
                                                        </div>
                                                        <div class="checkbox-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Check box'">
                                                            <!-- {{addResponses('Check box')}} -->
                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-label>select choice</mat-label>
                                                                <mat-select multiple>

                                                                    <mat-option
                                                                        *ngFor="let  choice of question?.choices"
                                                                        [value]="choice">
                                                                        {{choice.name}}
                                                                    </mat-option>
                                                                </mat-select>

                                                            </mat-card-content>


                                                        </div>
                                                        <div class="integer-form"
                                                            *ngIf="question.questionnaire_type.type_name==='Integer'">
                                                            <!-- {{addResponses('Integer')}} -->
                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-form-field>
                                                                    <mat-label>{{question.title}}
                                                                    </mat-label>
                                                                    <input matInput type="number"
                                                                        [min]='question?.min_integer_value'
                                                                        [max]="question?.max_integer_value"
                                                                        formControlName="response_integer">

                                                                </mat-form-field>


                                                            </mat-card-content>


                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Decimal'">
                                                            <!-- {{addResponses('Decimal')}} -->
                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-form-field>
                                                                    <mat-label>{{question.title}}
                                                                    </mat-label>
                                                                    <input matInput type="number"
                                                                        [min]='question?.min_decimal_value'
                                                                        [max]="question?.decimal_integer_value">

                                                                </mat-form-field>


                                                            </mat-card-content>
                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Drop down'">
                                                            <!-- {{addResponses('Drop down')}} -->


                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-label>select choice</mat-label>
                                                                <mat-select>

                                                                    <mat-option
                                                                        *ngFor="let  choice of question?.choices"
                                                                        [value]="choice">
                                                                        {{choice.name}}
                                                                    </mat-option>
                                                                </mat-select>

                                                            </mat-card-content>
                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Date'">
                                                            <!-- {{addResponses('Date')}} -->

                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>

                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>{{question.title}} ?
                                                                    </mat-label>
                                                                    <input matInput [matDatepicker]="picker"
                                                                        class="card">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker>
                                                                    </mat-datepicker>
                                                                </mat-form-field>

                                                            </mat-card-content>
                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Time'">
                                                            <!-- {{addResponses('Time')}} -->

                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-label>select choice</mat-label>
                                                                <mat-select>

                                                                    <mat-option
                                                                        *ngFor="let  choice of question?.choices"
                                                                        [value]="choice">
                                                                        {{choice.name}}
                                                                    </mat-option>
                                                                </mat-select>

                                                            </mat-card-content>
                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Short answer'">
                                                            <!-- {{addResponses('Short answer')}} -->

                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-form-field class="form-control">
                                                                    <mat-label>{{question.title}}
                                                                    </mat-label>
                                                                    <input matInput type="text" />


                                                                </mat-form-field>

                                                            </mat-card-content>
                                                        </div>
                                                        <div class="decimal-form"
                                                            *ngIf="question.questionnaire_type.type_name ==='Paragraph'">
                                                            <!-- {{addResponses('Paragraph')}} -->

                                                            <mat-card-title> {{i+1}}) {{question.title}} ?
                                                            </mat-card-title>
                                                            <mat-card-subtitle>{{question.description}}
                                                            </mat-card-subtitle>
                                                            <mat-card-content>
                                                                <mat-form-field class="form-control" appearance="fill">
                                                                    <mat-label> {{i+1}}){{question.title}}
                                                                    </mat-label>
                                                                    <textarea matInput cdkTextareaAutosize
                                                                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                                        cols="30" rows="10"></textarea>
                                                                    <!-- <mat-hint>Optional</mat-hint> -->
                                                                </mat-form-field>

                                                            </mat-card-content>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <!-- ////////////////////////////////////////////////// -->
                                                </mat-card>
                                                <!-- </div> -->
                                            </div>

                                        </mat-card-content>
                                        <mat-card-actions>
                                            <!-- <div class="card-actions">
                                    <button mat-button class="btn-orange btn" mat-ripple (click)="fill(survey.sections)" routerLink="../../surveys/fill">Fill Survey</button>
                                </div> -->



                                        </mat-card-actions>
                                        <!-- ////////////////////////************************///////////////////////////////////////////// -->
                                    </div>
                                    <!-- </div> -->
                                </div>





                            </div>
                        </div>
                    </mat-card>
                    <!-- </div> -->
                    {{this.surveyFillForm.value | json}}
                    <button (click)="onSubmit()">submit</button>
                </form>
            </div>
        </div>

    </div>
</respondent-dashboard>