




<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="value">
    <div class="d-flex">
      <h1 class="m-2 title">OSAP</h1>

      <mat-icon aria-label="Side nav toggle icon" (click)="drawer.toggle()" class="ml-auto mt-4 pr-5" id="arrowback">
        arrow_back</mat-icon>

    </div>


    <mat-divider></mat-divider>

    <mat-nav-list>
      <!-- <a class="list" mat-list-item href="#">Home</a>
      <a class="list" mat-list-item href="#">Respondant</a>
      <a class="list" mat-list-item href="#">Researcher</a>
      <a class="list" mat-list-item href="#">About</a> -->

    </mat-nav-list>

  </mat-sidenav>



</mat-sidenav-container>

<div class="navbar">
  <mat-icon aria-label="Side nav toggle icon " (click)="drawer.toggle()" >menu</mat-icon>

  <div class="spacer"></div>

  



    <mat-icon>question_mark</mat-icon>

  
    <mat-icon>notifications</mat-icon>
    <div class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" ngbDropdownToggle>
        {{username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
     
        <a class="dropdown-item" href="#" ngbDropdownItem>edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" ngbDropdownItem>log out</a>
      </div>
    </div>
</div>



<ng-content selector=".content"></ng-content>
<div>

</div>