
.sidenav{
    width: 30%;
}
.spacer {
    flex: 1;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .example-icon{
      color: orangered;
  }
  
  table td {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    font-family: inherit;
    padding: 10px 8px 10px 20px;
    width: 100vw;
    
}